.content-wrapper {
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.content-wrapper .left-info {
    background-image         : url(../../asset/wheat.png);
    background-repeat        : repeat;
    min-width                : 500px;
    min-height               : 500px;
    box-shadow               : 0 0 50px rgba(0, 0, 0, .09);
    border-top-left-radius   : 6px;
    border-bottom-left-radius: 6px;
    position                 : relative;
}

.content-wrapper .slogan {
    color         : #fff;
    font-size     : 36px;
    font-weight   : bold;
    letter-spacing: 3px;
    line-height   : 36px;
    margin        : 36px;
    margin-top    : 100px;
}

.content-wrapper .notice {
    width        : 400px;
    height       : 160px;
    position     : absolute;
    background   : rgba(0, 0, 0, .5);
    box-shadow   : 0 0 30px rgba(255, 255, 255, .3);
    border-radius: 2px;
    bottom       : 50px;
    left         : 50px;
    color        : #ccc;
}

.form {
    min-width                 : 330px;
    z-index                   : 999;
    box-shadow                : 0 0 50px rgba(100, 100, 100, .3);
    border-top-right-radius   : 6px;
    border-bottom-right-radius: 6px;
    flex                      : 1;
}